# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Build output
dist/
build/
.vite/

# TypeScript
*.tsbuildinfo

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Flowbite React
.flowbite-react/class-list.json
.flowbite-react/pid

# Environment variables
.env
.env.local
.env.*.local

# Miscellaneous
.DS_Store
Thumbs.db

# Prettier and ESLint
.prettier-cache/
.eslintcache

# TailwindCSS
tailwind.config.js
tailwind.config.cjs